// imports
@use "../abstracts/abstracts" as *;

.cta {
  &__input {
    @include textStyles;
    padding: $inputPadding;
    border-radius: $radius;

    transition: $mainTransition;
    border: 0.2rem solid color(lightGray);
    outline: 0;

    &::placeholder {
      color: color(lightGray);
    }

    &:-ms-input-placeholder {
      color: color(lightGray);
    }

    &:hover,
    &:focus {
      border: 0.2rem solid lighten(color(brightBlue), 20%);
    }
  }

  &--hero {
    .cta__input {
      width: 50%;
      margin-right: 2rem;

      @include responsive(sm) {
        width: 100%;
      }
    }
  }

  &--banner {
    .cta__input {
      width: 100%;
      margin-bottom: 3rem;
      box-shadow: $mainShadow;
    }
  }
}
