// imports
@use "../abstracts/abstracts" as *;

.features {
  height: 80vh;
  overflow: hidden;

  @include responsive(lg) {
    height: auto;
  }

  &__heading {
    @include headingStyles;
    color: color(veryDarkBlue);
    font-size: size(xxl);
  }

  &__desc {
    @include textStyles;
    font-size: size(xs);
    padding: 1rem 0;
  }

  &__info {
    overflow: hidden;
  }

  .glide {
    margin-top: 5rem;
    width: 100%;
    position: relative;

    &__message {
      @include headingStyles;
      position: absolute;
      top: 3rem;
      right: 2rem;
      font-size: size(xxs);
      color: color(moderateCyan);
      transform: rotate(30deg);
    }

    &__slides {
      &:hover {
        cursor: grab;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }
}
