// imports
@use "../abstracts/abstracts" as *;

.features {
  height: 80vh;

  &__heading {
    @include headingStyles;
    color: color(veryDarkBlue);
    font-size: size(xxl);
  }

  &__desc {
    @include textStyles;
    font-size: size(xs);
    padding: 1rem 0;
  }
}
