// imports
@use "../abstracts/abstracts" as *;

.footer {
  background-color: color(veryDarkBlue);
  position: relative;

  &__content {
    @include maxWidthLg;
  }

  &__circle {
    @include flexCenter;
    position: absolute;
    background-color: color(white);
    display: inline-block;
    padding: 1rem;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    transform: translateY(-7rem);
    margin: 1rem;
  }

  &__logo {
    width: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__contact {
    @include textStyles;
    color: color(white);
    font-size: size(xxs) + 0.1rem;
    margin: 2rem 0;
  }

  &__item {
    margin: 1.5rem 0;
  }

  &__link {
    @include textStyles;
    color: color(white);
    font-size: size(xxs) + 0.1rem;
    transition: $mainTransition;

    &:hover,
    &:focus {
      color: lighten(color(brightBlue), 20%);
    }
  }

  &__social {
    color: color(white);
    font-size: size(xl);
    margin: 0 1.5rem;
    transition: $mainTransition;

    @include responsive(lg) {
      margin: 0 1.5rem 0 0;
    }

    &:hover,
    &:focus {
      color: lighten(color(brightBlue), 20%);
    }
  }
}
