// imports
@use "../abstracts/abstracts" as *;

.two-col {
  @include maxWidthLg;
  @include sectionSpacing;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;

  @include responsive(md) {
    grid-template-columns: 1fr;
  }

  &--banner {
    gap: 20rem;

    @include responsive(md) {
      gap: 5rem;
    }
  }
}

.four-col {
  @extend .two-col;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;

  @include responsive(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include responsive(md) {
    grid-template-columns: 1fr;
  }
}
