// imports
@use "../abstracts/abstracts" as *;

.two-col {
  @include maxWidthLg;
  @include sectionSpacing;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;

  &--banner {
    gap: 20rem;
  }
}

.four-col {
  @extend .two-col;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
}
