// imports
@use "../abstracts/abstracts" as *;

.hero {
  height: 80vh;

  @include responsive(md) {
    height: auto;
  }

  &__heading {
    @include headingStyles;
    color: color(veryDarkBlue);
    font-size: size(xxl) + 0.5rem;
  }

  &__desc {
    @include textStyles;
    font-size: size(sm);
    padding: 1.5rem 0 2rem 0;
  }
}
