// imports
@use "../abstracts/abstracts" as *;

.hero {
  overflow: hidden;
  padding: 5rem 0;

  &__heading {
    @include headingStyles;
    color: color(veryDarkBlue);
    font-size: size(xxl) + 0.5rem;

    @include responsive(md) {
      font-size: size(xxl) + 0.2rem;
    }
  }

  &__desc {
    @include textStyles;
    font-size: size(sm);
    padding: 1.5rem 0 2rem 0;
  }
}
