// imports
@use "../abstracts/abstracts" as *;

.nav {
  &__content {
    @include maxWidthLg;
    @include sectionSpacing;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    width: 15rem;

    @include responsive(sm) {
      margin: 0 1rem 1rem 0;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 2rem;

    &:nth-child(1) {
      margin: 0 2rem 0 0;
    }
  }

  &__link {
    @include textStyles;
    color: color(veryDarkBlue);
    font-size: size(sm);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
